.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px 200px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-container a:hover {
  color: #ffcc00;
}

.nav-container a:last-child {
  margin-right: 0;
}

.nav-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-container img:last-child {
  margin-right: 0;
}