@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --font-nunito: "Nunito", sans-serif;

    --color-primary: oklch(65% 0.18 45);

    --color-secondary: oklch(75% 0.12 150);

    --color-base-100: oklch(98% 0.01 80);
    --color-base-200: oklch(95% 0.03 80);

    --color-base-content: oklch(35% 0.05 50);

    background-color: var(--color-base-200);
    color: var(--color-base-content);
    font-family: var(--font-nunito);
}


@theme {
    --font-nunito: "Nunito", sans-serif;
}

@layer base {
    :root {
        --p: 65% 0.18 45;
        --pc: 98% 0.02 45;

        --s: 75% 0.12 150;
        --sc: 20% 0.05 150;

        --a: 80% 0.15 85;
        --ac: 25% 0.05 85;

        --b1: 98% 0.01 80;
        --b2: 95% 0.03 80;
        --b3: 90% 0.05 80;

        --bc: 35% 0.05 50;

        --n: 40% 0.05 50;
        --nc: 95% 0.02 50;

        --rounded-box: 1.5rem;
        --rounded-btn: 2rem;
    }
}

body {
    min-height: 100vh;
}